@mixin burgerBtn {
    position: absolute;
    height: 3px;
    content: '';
    background-color: $pure-white;
    transition: width .3s;
    right: 0;

}

@mixin heroImages($bgImg){
  background-image: $blue-gradient, url($bgImg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}